<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/06df52d9-7071-4cba-ab6c-2e56020ddeea/resourceGroups/cosc3380-project/providers/Microsoft.Web/sites/amusement-park</ResourceId>
    <ResourceGroup>cosc3380-project</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://amusement-park.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://amusement-park.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$amusement-park</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>